@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 240 10% 4%;
    --foreground: 50 23% 95%;
    --card: 17 13% 10%;
    --card-foreground: 50 23% 95%;
    --popover: 240 10% 4%;
    --popover-foreground: 50 23% 95%;
    --primary: 16 53% 50%;
    --primary-foreground: 50 23% 95%;
    --secondary: 17 13% 14%;
    --secondary-foreground: 50 23% 95%;
    --muted: 17 13% 14%;
    --muted-foreground: 45 9% 66%;
    --accent: 24 49% 67%;
    --accent-foreground: 240 10% 4%;
    --destructive: 0 62.8% 40%;
    --destructive-foreground: 50 23% 95%;
    --border: 17 10% 18%;
    --input: 17 13% 14%;
    --ring: 16 53% 50%;
    --chart-1: 16 53% 50%;
    --chart-2: 24 49% 67%;
    --chart-3: 45 9% 66%;
    --chart-4: 17 13% 40%;
    --chart-5: 50 23% 85%;
  }
}

@layer base {
  * {
    @apply border-border;
  }

  body {
    font-family: var(--font-sans), system-ui, sans-serif;
    @apply bg-background text-foreground;
  }
}

.hide-scrollbar {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

.hide-scrollbar::-webkit-scrollbar {
  display: none;
}
